#root {

  background-color: gray;
}
#Title {
  margin-left: 0;
  color: rgb(93, 93, 227);
  font-size: 40px
 
}
a {
  width: 12vw;
  margin: 0 auto;
  
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(93, 93, 227);
  margin-bottom: 20px;

}

.photo1 {
  border-radius: 6%;
  height: 200px;
  width: 300px;
  margin-right: auto;
 
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
main {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;


}

.dog-pictures {

    display: flex;
    justify-content: space-around;
    
}
.dog-pictures1, .dog-pictures2 {
  
  border-radius: 22%;
  align-items: center;
  margin: right 7px;
  border-color: rgb(93, 93, 227);
  height: 200px;
  width: 200px;
}
.picture-div {
  color: rgb(93, 93, 227);
}
.Footer {
  font-size: 1rem;
  font-style: italic;
  margin-top: 200px;
  margin-bottom: 0;
}
.Footer >div>p{
  margin-bottom: 0;
  background-color: rgb(93, 93, 227);
}
.card-header {
  color: rgb(93, 93, 227);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
